{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded pt-8">
            <h3 class="alert alert-light border rounded mt-4">Create An Account</h3>
            <form action="/signup/" method="POST">
                {% csrf_token %}

                {% if error %}    
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                    <!--firstname-->
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstname" id="" value="{{values.first_name}}" class="form-control form-control-sm" placeholder="">
                </div>
                <br>

                 <!--lastname-->
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastname" id="" value="{{values.last_name}}" class="form-control form-control-sm" placeholder="">
                </div>
                <br>

                  <!--phone-->
                  <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" value="{{values.phone_name}}" class="form-control form-control-sm" placeholder="543323">
                </div>
                <br>
                
                <!--email-->
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" id="" class="form-control form-control-sm" placeholder="pooja@gmail.com">
                </div>
                <br>
                  
                <!--Password-->   
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" id="" class="form-control form-control-sm" placeholder="*********">
                </div>
                <br>

                <div class="form-group">
                    <input class="btn btn-sm btn-info" type="submit" value="Create An Account">
                </div>
                <br>

                
            </form>
        </div>
    </div>

</div>

{% endblock %}